<!DOCTYPE html>
<html>
<head>
    <title>Delayed Flight Details Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
        }
        
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        
        h1 {
            margin: 0;
        }
        
        section {
            display: flex;
            flex-direction: column;
            margin: 20px;
        }
        
        label {
            font-weight: bold;
        }
        
        input[type="text"], input[type="number"] {
            padding: 8px;
            margin: 5px 0;
            border: none;
            border-radius: 4px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            font-size: 16px;
            width: 10%;
        }

        input[type="text"]#search {
            width: 30%; 
        }

        
        input[type="submit"], input[type="reset"] {
            padding: 8px 20px;
            margin: 10px 0;
            border: none;
            border-radius: 4px;
            background-color: #4CAF50;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }
        
        table {
            border-collapse: collapse;
            margin: 20px 0;
        }
        
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        th {
            background-color: #4CAF50;
            color: #fff;
        }
    </style>

  
</head>
<body>
    <header>
        <h1>Delayed Flight Details Dashboard</h1>
    </header>
    <section>
        <form action="/add" method="POST">
            <label for="flightNumber">Flight Number:</label>
            <input type="text" id="flightNumber" name="flightNumber" required>
            <label for="tailNumber">Tail Number:</label>
            <input type="text" id="tailNumber" name="tailNumber" required>
            <label for="airlineCode">Airline Code:</label>
            <input type="text" id="airlineCode" name="airlineCode" required>
            <label for="origin">Origin:</label>
            <input type="text" id="origin" name="origin" required>
            <label for="destination">Destination:</label>
            <input type="text" id="destination" name="destination" required>
            <label for="date">Date:</label>
            <input type="text" id="date" name="date" placeholder="YYYY-m-d" pattern= "[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}" required>
            <br>
            <label for="departureTime">Scheduled Departure Time:</label>
            <input type="text" id="departureTime" name="departureTime" placeholder="HH:MM" pattern="[0-9]{2}:[0-9]{2}" required>
            <label for="arrivalTime">Scheduled Arrival Time:</label>
            <input type="text" id="arrivalTime" name="arrivalTime" placeholder="HH:MM" pattern="[0-9]{2}:[0-9]{2}" required>
            <label for="delayedTime">Delayed Time:</label>
            <input type="text" id="delayedTime" name="delayedTime" required>
            
            <input type="submit" value="Add Flight">
            <input type="reset" value="Clear Form">
        </form>

        <form action="/search" method="GET">
            <label for="search">Search:</label>
            <input type="text" id="search" name="search" placeholder="Search flights based on flight number">
            <input type="submit" value="search">

        </form>

        
        <div style="display: flex;">
            <form action="/" method="GET">
              <input type="submit" style="margin-right: 10px;" value="Reset">
            </form>
            
            <form action="/stateAvgDelay" method="GET">
              <input type="submit" style="margin-right: 10px;" id="stateDelay" value="Average States' Delay Time">
            </form>
          
            <form action="/airlineMostDelay" method="GET">
              <input type="submit" id="delayAirline" value="Most Delayed Airlines">
            </form>
        </div>
          
        

        <table>
            <thead>
            <tr>
            <th>Flight Number</th>
            <th>Tail Number</th>
            <th>Airlinecode</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Scheduled Departure Time</th>
            <th>Scheduled Arrival Time</th>
            <th> Delayed Time</th>
            <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% data.forEach(function(row) { %>
                <tr>
                    <td><%= row.flightNumber %></td>
                    <td><%= row.tailNumber %></td>
                    <td><%= row.airlineCode %></td>
                    <td><%= row.airportOriginCode %></td>
                    <td><%= row.airportDestinationCode %></td>
                    <td><%= row.date %></td>
                    <td><%= String(row.scheduledDeparture).padStart(4, '0').replace(/(\d{2})(\d{2})/, "$1:$2") %></td>
                    <td><%= String(row.scheduledArrival).padStart(4, '0').replace(/(\d{2})(\d{2})/, "$1:$2") %></td>
                    <td><%= row.arrivalDelayTime %></td>
                    <td>
                    <form action="/edit" method="POST">
                        <input type="hidden" name="flightNumber" value="<%= row.flightNumber %>">
                        <input type="hidden" name="tailNumber" value="<%= row.tailNumber %>">
                        <input type="hidden" name="airlineCode" value="<%= row.airlineCode %>">
                        <input type="hidden" name="origin" value="<%= row.airportOriginCode %>">
                        <input type="hidden" name="destination" value="<%= row.airportDestinationCode %>">
                        <input type="hidden" name="date" value="<%= row.date %>">
                        <input type="hidden" name="departureTime" value="<%= row.scheduledDeparture %>">
                        <input type="hidden" name="arrivalTime" value="<%= row.scheduledArrival %>">
                        <input type="hidden" name="delayedTime" value="<%= row.arrivalDelayTime %>">

                        <button type="submit">Edit</button>
                    </form>

                    <form action="/delete" method="POST">
                        <input type="hidden" name="flightNumber" value="<%= row.flightNumber %>">
                        <input type="hidden" name="tailNumber" value="<%= row.tailNumber %>">
                        <input type="hidden" name="airlineCode" value="<%= row.airlineCode %>">
                        <input type="hidden" name="origin" value="<%= row.airportOriginCode %>">
                        <input type="hidden" name="destination" value="<%= row.airportDestinationCode %>">
                        <input type="hidden" name="date" value="<%= row.date %>">
                        <input type="hidden" name="departureTime" value="<%= row.scheduledDeparture %>">
                        <input type="hidden" name="arrivalTime" value="<%= row.scheduledArrival %>">
                        <input type="hidden" name="delayedTime" value="<%= row.arrivalDelayTime %>">

                        <button type="submit">Delete</button>
                    </form>
                    </td>
                </tr>
                <% });%>

        
        
            </tbody>
        </table>
        </section>
        </body>
</html>
